################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PS.SharePoint.Core.Test/obj
/PS.SharePoint.Core.Api.Test/obj
/PS.SharePoint.Core.Api.Test/appsettings.Development.json
/PS.SharePoint.Test/bin/Debug
/PS.SharePoint.Test/obj
/PS.SharePoint.Core.Api.Test/bin/Debug/net6.0
/.vs/PS.SharePoint/FileContentIndex/07b178a0-b2af-4ee9-a13b-af4f4e94a572.vsidx
/.vs/PS.SharePoint/FileContentIndex/54b392d4-b1c9-432e-9a12-d7701b5654df.vsidx
/.vs/PS.SharePoint/FileContentIndex/df81cd81-37ef-465e-9b51-cbc828530cc2.vsidx
/.vs/slnx.sqlite
