<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<packageSources>
		<clear/>
		<add key="github" value="https://nuget.pkg.github.com/pankajsharma0508/index.json"></add>
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="UserName" value="pankajsharma0508"></add>
			<add key="ClearTextPassword" value="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"></add>
		</github>
	</packageSourceCredentials>
</configuration>